<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MSBUILD" Name="MSBuild">
          <Directory Id="INSTALLDIR" Name="$(var.CCNetProject)">
            <Component Id="C_TASKS" Guid="{04E016C1-6985-445C-A8E9-6B82B82C4B9B}" />
            <Directory Id="Sandcastle" Name="Sandcastle">
              <Directory Id="Presentation" Name="Presentation">
                <Directory Id="icons" Name="icons">
                  <Component Id="C_ICONS" Guid="{50c42423-00ac-4a95-b4db-7caf267521f4}" />
                </Directory>
                <Directory Id="scripts" Name="scripts">
                  <Component Id="C_JAVASCRIPT" Guid="{0bec6715-857a-4108-b2c8-5d2233d82ae9}" />
                </Directory>
                <Directory Id="styles" Name="styles">
                  <Component Id="C_CSS" Guid="{b789ccfd-44ef-4c7c-a5ad-6f11f440f671}" />
                </Directory>
              </Directory>
              <Directory Id="ProductionTools" Name="ProductionTools">
                <Directory Id="Images" Name="Images">
                  <Directory Id="OutliningIndicators" Name="OutliningIndicators">
                    <Component Id="C_CHIMAGES" Guid="{81ca7287-8967-45fa-83d0-81bf1e487c34}" />
                  </Directory>
                </Directory>
                <Directory Id="Languages" Name="Languages">
                  <Component Id="C_ACTIPRO" Guid="{0b951e7d-16d9-45b6-a1cb-2b1b2354e1f6}" />
                </Directory>
              </Directory>
              <Directory Id="Transforms" Name="Transforms">
                <Component Id="C_TRANSFORMS" Guid="{0a3ef934-f7f9-4572-907b-a80ba03e23da}" />
              </Directory>
            </Directory>
            <Component Id="C_SCHEMA" Guid="{8d4e5fe7-7bce-4b0c-9b4e-8d91f8f6cddc}">
              <File Id="F_MSBUIL_XSD" Name="$(var.RootNamespace).xsd" KeyPath="yes" Compressed="yes" DiskId="1" Source="$(var.OutputPath)$(var.RootNamespace).xsd" />
            </Component>
            <Component Id="C_SOURCE" Guid="{3f022358-c288-43de-a8a4-32096429b153}">
              <File Id="F_SOURCE_ZIP" Name="$(var.CCNetProject).$(var.CCNetLabel).src.zip" DiskId="1" Source="$(var.OutputPath)$(var.CCNetProject).$(var.CCNetLabel).src.zip" />
            </Component>

            <Component Id="C_HELP" Guid="{3AB5C023-D364-47AC-988D-CCD03A6706CB}">
              <!-- Auto generated by build script -->
            </Component>
            <Component Id="C_VS2005" Guid="{55BACFB3-34EF-4889-A4BA-34919A474BEA}">
              <CopyFile Id="CopySchema2005" FileId="F_MSBUIL_XSD" DestinationProperty="VS2005_SCHEMAS_MSBUILD_DIR" />
              <RegistryValue Id="regC1223BFD5F5EF598A22DAA8A013CE43E" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\MSBuild\SafeImports" Value="" Type="string" KeyPath="yes" />
              <RegistryValue Id="reg51F9FAC6514127629C36BD6A46B79A12" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\MSBuild\SafeImports" Name="$(var.CCNetProject)" Value="[INSTALLDIR]$(var.RootNamespace).Targets" Type="string" />
              <XmlFile Id="XmlSettings1" Permanent="no" ElementPath="//xs:schema" File="[VS2005_MSBUILD_SCHEMA]" Name="xs:include" Action="createElement" Sequence="1" xmlns="http://schemas.microsoft.com/wix/UtilExtension" />
              <XmlFile Id="XmlSettings2" Permanent="no" ElementPath="//xs:schema/xs:include[\[]not(@schemaLocation)[\]]" File="[VS2005_MSBUILD_SCHEMA]" Name="schemaLocation" Value="MSBuild\$(var.RootNamespace).xsd" Action="setValue" Sequence="2" xmlns="http://schemas.microsoft.com/wix/UtilExtension" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
