<CodeHighlighter>
  <cache languageTimeout="3" />
  <keywordLinking enabled="true" target="_blank" defaultKeywordCollectionKey="ActiproKeywords">
    <keywordCollection key="ActiproKeywords">
      <explicitKeyword tokenKey="IdentifierToken" patternValue="CodePlex" url="http://www.codeplex.com" caseSensitive="false" />
      <explicitKeyword tokenKey="IdentifierToken" patternValue="CCNetConfig" url="http://www.ccnetconfig.org" caseSensitive="false" />
    </keywordCollection>
  </keywordLinking>
  <languages>
    <language key="C#" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.CSharp.xml"  />
    <language key="CSS" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.CSS.xml" />
    <language key="HTML" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.HTML.xml" />
    <language key="JAVA" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.Java.xml" />
    <language key="J#" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.Java.xml" />
    <language key="JSCRIPT" definitionPath="$(ComponentPath\Sandcastle\ProductionTools)\Languages\ActiproSoftware.JScript.xml" />
    <language key="MSIL" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.MSIL.xml" />
    <language key="VB.NET" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.VBDotNet.xml" />
    <language key="VBScript" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.VBScript.xml" />
    <language key="XAML" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.XAML.xml" />
    <language key="XML" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.XML.xml" />
    <language key="XHTML" definitionPath="$(ComponentPath)\Sandcastle\ProductionTools\Languages\ActiproSoftware.XML.xml" />
  </languages>
  <lineNumberMargin foreColor="Teal" paddingCharacter=" " visible="true" />
  <outlining enabled="true" imagesPath="../icons/" />
  <spacesInTabs count="2" />
</CodeHighlighter>
